<!doctype html>
<html>
<head>
    <title>V as N</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<style>
.form-group {display: inline-block; vertical-align: top; margin-left: 33%}
.btn {margin-top: 10px; margin-left: 30%}
.nouns {background-color: #E8EDEE; 
	border-radius: 5px; 
	padding: 10px;
	padding-bottom: 5px;
	padding-left: 15px;}
</style>
	
	</head>
 
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="http://127.0.0.1:5000/">V + как + N</a>
    </div>

    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">	  
	  <ul class="nav navbar-nav">
        <li><a href="http://127.0.0.1:5000/classes_verbs">Классы глаголов</a></li>
      </ul>
	  <ul class="nav navbar-nav">
        <li><a href="http://127.0.0.1:5000/classes_nouns">Классы существительных</a></li>
      </ul>
	  <ul class="nav navbar-nav">
        <li><a href="http://127.0.0.1:5000/collocations">Коллокации</a></li>
      </ul>
	  <ul class="nav navbar-nav">
        <li><a href="http://127.0.0.1:5000/classes">Закономерности</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://127.0.0.1:5000/game">Игра</a></li>
      </ul>
    </div>
  </div>
</nav>

<form>
<div class="form-group">
		<p><b>Классы существительных:</b></p>
		<div class='nouns'>
		<input type='radio' style="margin-right: 10px;" name='noun' value='абстрактные имена'>абстрактные имена<br>
		<input type='radio' style="margin-right: 10px;" name='noun' value='артефакты'>артефакты<br>
		<input type='radio' style="margin-right: 10px;" name='noun' value='природа'>природа<br>
			<input type='radio' style="margin-right: 10px; margin-left: 40px" name='noun' value='природа: драгоценные материалы'>драгоценные камни<br>
			<input type='radio' style="margin-right: 10px; margin-left: 40px" name='noun' value='природа: объекты'>природные объекты<br>
			<input type='radio' style="margin-right: 10px; margin-left: 40px" name='noun' value='природа: растения'>растения<br>
			<input type='radio' style="margin-right: 10px; margin-left: 40px" name='noun' value='природа: явления'>природные явления<br>
		<input type='radio' style="margin-right: 10px;" name='noun' value='животные'>любые животные<br>
				<input type='radio' style="margin-right: 10px; margin-left: 40px" name='noun' value='животные: звери'>звери<br>
				<input type='radio' style="margin-right: 10px; margin-left: 40px" name='noun' value='животные: насекомые'>насекомые<br>
				<input type='radio' style="margin-right: 10px; margin-left: 40px" name='noun' value='животные: птицы'>птицы<br>
				<input type='radio' style="margin-right: 10px; margin-left: 40px" name='noun' value='животные: рептилии'>рептилии<br>
				<input type='radio' style="margin-right: 10px; margin-left: 40px" name='noun' value='животные: рыбы'>рыбы<br>
		<input type='radio' style="margin-right: 10px;" name='noun' value='материалы и вещества'>материалы и вещества<br>
		<input type='radio' style="margin-right: 10px;" name='noun' value='сооружения'>сооружения<br>
		Про человека:<br>
				<input type='radio' style="margin-right: 10px; margin-left: 40px" name='noun' value='человек'>человек<br>
				<input type='radio' style="margin-right: 10px; margin-left: 40px" name='noun' value='ментальные свойства человека: отсутствие ума'>ментальное свойство человека (осутствие ума)<br>
				<input type='radio' style="margin-right: 10px; margin-left: 40px" name='noun' value='человек: маленький возраст'>дети<br>
				<input type='radio' style="margin-right: 10px; margin-left: 40px" name='noun' value='человек: оценка'>оценка человека<br>
		<input type='radio' style="margin-right: 10px;" name='noun' value='существа'>существа<br>
		<input type='radio' style="margin-right: 10px;" name='noun' value='части теда'>части тела<br>
		<input type='radio' style="margin-right: 10px;" name='noun' value='физические свойства/состояния'>любые физические свойства/состояния<br>
			<input type='radio' style="margin-right: 10px; margin-left: 40px" name='noun' value='физические свойства/состояния: результат воздействия'>результат воздействия<br>
			<input type='radio' style="margin-right: 10px; margin-left: 40px" name='noun' value='физические свойства/состояния: мертвый'>состояние - мертвый<br>
        </div>
		<button type="submit" class="btn btn-default">Выбрать</button>
</div>
</form>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>