<!doctype html>
<html>
<head>
    <title>V as N</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
<style>
.group {display: inline-block; vertical-align: top}
.g2 {float: right; margin-right: 25%}
.g1 {margin-left: 20%}
.btn {margin-top: 10px; margin-left: 30%}
.verbs {background-color: #E8EDEE; 
	border-radius: 5px; 
	padding: 10px;
	padding-bottom: 5px;
	padding-left: 15px;}
</style>
	
	</head>
 
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="http://127.0.0.1:5000/">V + как + N</a>
    </div>

    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">	  
	  <ul class="nav navbar-nav">
        <li><a href="http://127.0.0.1:5000/classes_verbs">Классы глаголов</a></li>
      </ul>
	  <ul class="nav navbar-nav">
        <li><a href="http://127.0.0.1:5000/classes_nouns">Классы существительных</a></li>
      </ul>
	  <ul class="nav navbar-nav">
        <li><a href="http://127.0.0.1:5000/collocations">Коллокации</a></li>
      </ul>
	  <ul class="nav navbar-nav">
        <li><a href="http://127.0.0.1:5000/classes">Закономерности</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://127.0.0.1:5000/game">Игра</a></li>
      </ul>
    </div>
  </div>
</nav>

<form>
<div class="form-group">
	
	<div class="group g1">
	<p><b>Акциональные классы глаголов:</b></p>
	<div class='verbs'>
		<input type='radio' style="margin-right: 10px;" name='act' value='воздействие'>воздействие<br>
		<input type='radio' style="margin-right: 10px;" name='act' value='действие'>действие<br>
		<input type='radio' style="margin-right: 10px;" name='act' value='деятельность'>деятельность<br>
		<input type='radio' style="margin-right: 10px;" name='act' value='занятие'>занятие<br>
		<input type='radio' style="margin-right: 10px;" name='act' value='поведение'>поведение<br>
		<input type='radio' style="margin-right: 10px;" name='act' value='положение в пространстве'>положение в пространстве<br>
		<input type='radio' style="margin-right: 10px;" name='act' value='процесс'>процесс<br>
		<input type='radio' style="margin-right: 10px;" name='act' value='проявление'>проявление<br>
		<input type='radio' style="margin-right: 10px;" name='act' value='свойство'>свойство<br>
		<input type='radio' style="margin-right: 10px;" name='act' value='событие'>событие<br>
		<input type='radio' style="margin-right: 10px;" name='act' value='состояние'>состояние<br>
		<input type='radio' style="margin-right: 10px;" name='act' value='способность'>способность<br>
	</div>
	<button type="submit" class="btn btn-default">Выбрать</button>
	</div>
	
	
	<div class="group g2">
	<p><b>Таксономические классы глаголов:</b></p>
	<div class='verbs'>
		<input type='radio' style="margin-right: 10px;" name='tax' value='актуальное/потенциальное занятие'>Любое актуальное/потенциальное занятие<br>
				<input type='radio' style="margin-right: 10px; margin-left: 40px" name='tax' value='актуальное/потенциальное занятие: результат'>результат актуального/потенциального занятия<br>
		<input type='radio' style="margin-right: 10px;" name='tax' value='воздействие'>воздействие<br>
		<input type='radio' style="margin-right: 10px;" name='tax' value='движение'>Любое движение<br>
				<input type='radio' style="margin-right: 10px; margin-left: 40px" name='tax' value='движение: ненаправленное'>ненаправленное движение<br>
				<input type='radio' style="margin-right: 10px; margin-left: 40px" name='tax' value='движение: направленное'>направленное движение<br>
				<input type='radio' style="margin-right: 10px; margin-left: 40px" name='tax' value='движение: остановка'>остановка<br>
				<input type='radio' style="margin-right: 10px; margin-left: 40px" name='tax' value='движение: начало'>начало движения<br>
				<input type='radio' style="margin-right: 10px; margin-left: 40px" name='tax' value='движение: падение'>падение<br>
		<input type='radio' style="margin-right: 10px;" name='tax' value='прекращение существования'>прекращение существования<br>
		<input type='radio' style="margin-right: 10px;" name='tax' value='природное явление'>природное явление<br>
		<input type='radio' style="margin-right: 10px;" name='tax' value='звук'>любой звук<br>
				<input type='radio' style="margin-right: 10px; margin-left: 40px" name='tax' value='звук'>начало звука<br>
		<input type='radio' style="margin-right: 10px;" name='tax' value='речь'>речь<br>
		<input type='radio' style="margin-right: 10px;" name='tax' value='эмоции'>любые эмоции<br>
			<input type='radio' style="margin-right: 10px; margin-left: 40px" name='tax' value='эмоции: проявление'>проявление эмоций<br>
		<input type='radio' style="margin-right: 10px;" name='tax' value='зрительное восприятие'>зрительное восприятие<br>
		<input type='radio' style="margin-right: 10px;" name='tax' value='физиология'>физиология<br>
		<input type='radio' style="margin-right: 10px;" name='tax' value='свет'>любой свет<br>
			<input type='radio' style="margin-right: 10px; margin-left: 40px" name='tax' value='свет'>начало света<br>
		<input type='radio' style="margin-right: 10px;" name='tax' value='обладание'>обладание<br>
		<input type='radio' style="margin-right: 10px;" name='tax' value='позиция'>позиция<br>
		Изменение состояния/признака:<br>
				<input type='radio' style="margin-right: 10px; margin-left: 40px" name='tax' value='изменение состояния/признака: мгновенное событие'>мгновенное изменение<br>
				<input type='radio' style="margin-right: 10px; margin-left: 40px" name='tax' value='изменение состояния/признака: достижение результата'>достижение результата изменения<br>
				<input type='radio' style="margin-right: 10px; margin-left: 40px" name='tax' value='изменение состояния/признака: процесс'>процесс изменения<br>
				<input type='radio' style="margin-right: 10px; margin-left: 40px" name='tax' value='изменение состояния/признака: начало нового состояния/признака'>начало нового состояния/признака<br>
        </div>
		<button type="submit" style="margin-left: 40%" class="btn btn-default">Выбрать</button>
	</div>
</div>
</form>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>